@import '../../colors.scss';

.color-picker{
  display: inline-block;
  margin-left: 5px;

  .color-picker__colors{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    width: 250px;
  }
  .color-picker__selected-color{
    width: 30px;
    height: 13px;
    display: inline-block;
    background-color: $grey;
  }
  .color-picker__color{
    display: inline-block;
    width: 50px;
    height: 30px;
  }
}